In [59]:
import pandas as pd
import requests
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
import numpy as np
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.preprocessing import Normalizer, StandardScaler

In [6]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
r = requests.get(url, allow_redirects=True)
open('iris.txt','wb').write(r.content)

4551

In [7]:
header = ['sepal_length','sepal_width','petal_length','petal_width','names']
df = pd.read_csv('iris.txt',names = header,index_col =False)
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width        names
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [8]:
X = df.iloc[:,:-1]
X.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [9]:
y = (df.iloc[:,-1:])
y.head(3)

         names
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa

In [15]:
X_train, X_test, y_train, y_test = train_test_split( X,y, test_size = 0.2, random_state = 0)
nn = MLPClassifier(max_iter=200)
nn.fit(X_train, np.ravel(y_train))
y_pred = nn.predict(X_test)
accuracy_score(y_test,y_pred)

C:\Users\kit\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

0.9

##### Another convergence issue, since I discussed data normalization back in logistic regression, now lets see if they is any performance differences if we were to use normalization vs increase max_iter

##### Increasing the max_iter by 100 a time, the minimum value to reach convergence is 700 iteration for non-scaled data and 500 for scaled dataset. The runtime (included scaling data), was 497ms for non-scaling method with 700 max_iter and 483ms (476+6) for scaled data with 500 max_iter, supported the point of view that increasing iteration is an inferior alternative to data scaling

In [32]:
%%time
nn = MLPClassifier(max_iter=700)
nn.fit(X_train, np.ravel(y_train))
y_pred = nn.predict(X_test)
accuracy_score(y_test,y_pred)

Wall time: 497 ms

1.0

In [69]:
%%time
norm = StandardScaler()
X_train_scaled = norm.fit_transform(X_train)
X_test_scaled = norm.transform(X_test)

Wall time: 6 ms

In [76]:
%%time
nn1 = MLPClassifier(max_iter=500)
nn1.fit(X_train_scaled, np.ravel(y_train))
y_pred1 = nn.predict(X_test_scaled)
accuracy_score(y_test,y_pred1)

Wall time: 476 ms

0.9666666666666667